#Contact{
    min-height: 85vh;
    height: fit-content;
    /* width: 900px; */
    margin: auto;
    background-image: url("https://media.istockphoto.com/id/1174989482/photo/gray-abstract-minimal-motion-backgrounds-loopable-elements-4k-resolution.jpg?b=1&s=170667a&w=0&k=20&c=hn1EQ6i2fEBS0Cf-tFMfUsbNBGY1ATMNwgz1n7ffIKg=");
    background-repeat: no-repeat;
    background-size: cover;
    backface-visibility: inherit;
    margin-top: -20px;
    padding-top: 20px;
}

#Contact>div{
    display: flex;
    margin-top: 50px;
    margin-left: 13%;
}
#ContactAddress{
    width: 40%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 20px;
}
#ContactAddress>div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#ContactAddress>div>h1{
    font-weight: 500;
    margin-left: 30px;
}
#ContactAddress>div>a{
    font-weight: 500;
    text-decoration: none;
    color: black;
    color: gray;
    margin-left: 30px;
}
#ContactAddress>div>p{
    font-weight: 500;
    text-align: left;
    margin-left: 30px;
    color: gray;
}


#Form{
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(96, 94, 94, 0.2) 0px 2px 8px 0px;
    padding: 20px;
    padding-top: 60px;
}
#Form>input{
    height: 45px;
    margin-top: 18px;
    font-size: larger;
    border: none;
    border-bottom: 2px solid rgb(166, 163, 163);
    border-radius: 4px;
    background-color: rgb(235, 233, 233);
}
#Form>input:focus{
    outline: none;
}
#Form>input::placeholder{
    color: rgb(150, 149, 149);
}
#Form>textarea{
    margin-top: 20px;
    font-size: larger;
    height: 100px;
    border-radius: 3px;
    border-color: rgb(190, 190, 190);
    background-color: rgb(235, 233, 233);
}
#Form>textarea:focus{
    outline: none;
}
#Form>button{
    margin-top: 20px;
    font-size: larger;
    height: 50px;
    font-weight: 600;
    color: rgb(68, 64, 64);
    border-radius: 5px;
    border: 1px solid white;
    background-color: gainsboro;
}
#Form>button:hover{
    color: white;
    border: 1px solid grey;
    background-color: grey;
}

#MessageIn{
    width: fit-content;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-left: 50%;
    background-color: grey;
    border-radius: 10px;
    color: white;
    animation-duration: 1s;
    animation-name: fadein;
}
@keyframes fadein {
    from {background-color: transparent;
        color: transparent;}
    to {background-color: grey;
        color: white;}
}
#MessageOut{
    width: fit-content;
    padding: 20px;
    position: fixed;
    z-index: 1000;
    top: 0;
    margin-left: 50%;
    background-color: white;
    border-radius: 10px;
    color: white;
    animation-duration: .5s;
    animation-name: fadeout;
}
@keyframes fadeout {
    from {background-color: grey;
        color: white;}
    to {background-color: transparent;
        color: transparent;}
}

@media screen and (max-width: 935px) {
    #Contact{
        height: fit-content;
        width: 99%;
        padding-bottom: 50px;
    }
    #Contact>div{
        flex-direction: column;
        align-items: center;
        margin-left: 0%;
    }
    #ContactAddress{
        width: 70%;
    }
    #Form{
        width: 70%;
    }
}
@media screen and (max-width: 750px){
    #ContactAddress{
        width: 70%;
    }
    #Form{
        width: 70%;
    }
}

@media screen and (max-width: 432px){
    #ContactAddress>div>h1{
        font-size: 20px;
    }
    #Form>input{
        font-size: 15px;
    }
    #MessageIn{
        width: 80%;
    }
    #MessageOut{
        width: 80%;
    }
}
@media screen and (max-width: 355px){
    #ContactAddress>div>h1{
        font-size: 20px;
        margin-left: 5px;
    }
    #ContactAddress>div>a{
        margin-left: 5px;
    }
    #ContactAddress>div>p{
        margin-left: 5px;
    }
    #Form>input{
        font-size: 15px;
    }
    #ContactAddress{
        width: 80%;
    }
    #Form{
        width: 80%;
    }
}